%bg-image {
	background-repeat: no-repeat; // Placeholder for re-using responsive background image styles. Used with @extend to change background images for individual divs
	background-position: center center;
	background-size: cover;
}